body {
  background-image: linear-gradient(to right, #072633, #0f5471);
}

a {
  color: aliceblue;
  text-decoration: none;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('mainpicture2.jpg');
    color: white;
  background-size: cover;
}

hr {
  background-image: linear-gradient(#bd7418, #57350b);
  background-image: -o-linear-gradient(#bd7418, #57350b);
  background-image: -moz-linear-gradient(#bd7418, #57350b);
  background-image: -webkit-linear-gradient(#bd7418, #57350b);
  background-image: -ms-linear-gradient(#bd7418, #57350b);
  color: #072633;
}

.logo {
  width: auto;
  height: 90px;
  margin: 30px;
}

.logo-div {
  height: 250px;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 70px;
  margin-right: 120px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  text-decoration: none;
}

nav a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: rgba(226, 226, 226, 70%);
  letter-spacing: 1px;
}

nav a:hover {
  text-decoration: underline 0.5px white;
}

h1 {
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: rgba(226, 226, 226, 70%);
  letter-spacing: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: rgba(226, 226, 226, 70%);
  letter-spacing: 3px;
}

title {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgba(226, 226, 226, 70%);
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  padding: 60px;
  border-top: 3px solid #011b10d0;
  border-bottom: 3px solid #011b10d0;
  background-image: linear-gradient(to right, #072633, #0f5471);
}

.header-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
}

.btn:hover {
  text-decoration: underline 0.5px white;
}

.carousel-container {
  position: relative;
  width: 70%;
  height: 70vh;
  border: 1.5px #bd7418 solid;
  border-radius: 15px;
  background-image: linear-gradient(to right, #d1c9c9, #6b6767);
}

.carousel-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
}

.carousel-container h1 {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 200;
}

.carousel-container .carousel-item,
.carousel-container .carousel-item-hidden {
  display: none;
}

.carousel-flex h2 {
  display: inline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 3px;
}

.carousel-flex img {
  width: 300px;
  height: 400px;
}

.utility-container {
  padding: 100px;
  background-color: #d1c9c9;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.overlay-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 300;
  letter-spacing: 3px;
  color: rgba(226, 226, 226, 0.7);
}

