body {
  background-color: #072633;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 100vh;
  width: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(mainpicture2.jpg);
  background-size: cover;
  color: white;
}

.logo {
  height: 90px;
  width: auto;
}

.logo-div {
  display: flex;
  height: 250px;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 70px;
  font-size: 30px;
  font-family: sans-serif;
  margin-right: 120px;
  text-decoration: none;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  color: rgba(226, 226, 226, 0.7);
  display: flex;
  justify-content: center;
  font-size: 35px;
}

title {
  color: rgba(226, 226, 226, 0.7);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.img-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../../images/istockphoto-1251716975-1024x1024.jpg);
}

.section-1 {
  display: flex;
  align-items: center;
  padding: 96px 0;
  background-color: #0f5471;
  height: 60vh;
  border-top: 3px solid #011b10d0;
  border-bottom: 3px solid #011b10d0;
}

.header-btn {
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.carousel-container {
  position: relative;
  display: flex;
  gap: 20px;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  /* flex-basis: 100%; */
  background-color: white;
  flex-direction: column;
}

.carousel-container .carousel-item,
.carousel-container .carousel-item-hidden {
  display: none; /* hide all slide images not currently being viewed */
}

.carousel-container .carousel-item-visible {
  display: flex; /* show current slide image */
  animation: fadeVisibility 0.5s; /* for fading effect when switching between slides */
}

.carousel-container .carousel-item img {
  height: 250px;
  width: auto;
  margin: auto;
}

.utility-container {
  padding: 100px;
  background-color: #d1c9c9;
}
